<div class="mt-4">
    <form method="GET" action="https://www.google.com/search">
    <div class="form-group">
        <label for="exampleInputEmail1">Nhập Bất Cứ Thứ Gì</label>
        <input type="password" name="q" class="form-control" id="exampleInputEmail1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>